<div class="element">
	<div class="input-wrapper">
		{% if label_text %}
			{% include 'label.twig' with {
				'label_for' : input_name,
				'label_modifier' : label_modifier,
				'label_text' : label_text
			} %}
		{% endif %}

		<input class="input--number {{ input_modifier }}" id="{{ input_name }}" min="{{ input_min ? input_min : 0 }}" max="{{ input_max ? input_max : 1000000 }}" name="{{ input_name }}" {{ input_placeholder ? 'placeholder="' ~ input_placeholder ~ '"' : '' }}  step="{{ input_step ? input_step : 1 }}" type="number" {{ input_value ? 'value="' ~ input_value ~ '"' : '' }} />
	</div>
</div>