<label class="checkbox-wrapper text--bold" for="{{ id }}">
	<span>{{ text }}</span>
	<input class="form__input input--checkbox {{ input_modifier }}" id="{{ id }}" name="{{ name }}[]" type="checkbox" value="{{ value }}" />
</label>